@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ToDo
@{
}
<style>
    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-label {
        margin-top: 10px;
        display: block;
        font-weight: bold;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .btn-primary {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        border: none;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }
</style>
<h3>
    Create New ToDo
</h3>

<form asp-action="create"> 
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name"></span>

    <label asp-for="Description" class="form-label"></label>
    <input asp-for="Description" class="form-control" />

    <label asp-for="createdDate" class="form-label"></label>
    <input asp-for="createdDate" class="form-control" />

    <input type="submit" value="add value" class="btn btn-primary"/>
</form>